---
---

@import "{{ site.theme }}";



.page-header {
    color: #fff;
    text-align: center;
    background-color: #8D230F;
    background-image: none;
}
.project-name {
    font-size: 1.7rem;
}

.page-header img {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 0.75em;
}

.main-content h2 {
    color:#8D230F;
}

.main-content h3 {
    color:#8D230F;
}
